{
  "extends": ["react-app"],
  "plugins": ["prefer-arrow"],
  "rules": {
    "semi": [2, "never"],
    "quotes": [2, "single", { "avoidEscape": true }],
    "no-var": [2],
    "prefer-arrow/prefer-arrow-functions": [
      "error",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ],
    "eol-last": [2]
  },
  "globals": {
    "jsdom": true
  }
}
